body{
    background-color: aliceblue;
    
}
div.a {
    text-align: center;
  }
  h1 {
    background-color: aliceblue;
      color: #181D31;
  }

  h2 {
      background-color:black;
      color:aliceblue;
  }

  h3 {
    background-color: aliceblue;
    color: #181D31;
}
h4 {
    background-color: aliceblue;
    color: #181D31;
}
